@font-face {
	font-family: "League Spartan";
	src: url("../fonts/leaguespartan-bold.woff2") format("woff2"),
	     url("../fonts/leaguespartan-bold.woff") format("woff"),
	     url("../fonts/leaguespartan-bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: "Work Sans";
	src: url("../fonts/worksans-regular.woff2") format("woff2"),
	     url("../fonts/worksans-regular.woff") format("woff"),
		 url("../fonts/worksans-regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Work Sans";
	src: url("../fonts/worksans-light.woff2") format("woff2"),
	     url("../fonts/worksans-light.woff") format("woff"),
		 url("../fonts/worksans-light.ttf") format("truetype");
	font-weight: 300;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	border: .75em solid #fff;
}

body {
	margin: 1.5em auto;
	width: 90%;
	max-width: 62em;
	font: 400 105%/1.4 "Work Sans", sans-serif;
	background: #f7f7f5;
	color: #555;
}

[id="overview"]::after,
[id="results"]::after {
	display: table;
	clear: both;
	content: "";
}

/* Nicer link underlines */
a:link, a:visited {
	border-bottom: 1px solid rgba(42, 122, 130, .5);
	text-decoration: none;
	color: #2b7a82;
}

a:hover,
header nav a:hover {
	border-bottom: 2px solid currentColor;
	color: #f16529;
}

a:active {
	background: #333;
	color: #fff;
}

::selection {
	background-color: #333;
	color: #fff;
}

p {
	margin: 0 0 .67em 0;
}

li + li {
	margin-top: .5em;
}

body > header {
	padding-left: 130px;
	background: url("../images/logos/html5-a11y.svg") no-repeat;
}

body > header::after {
		display: table;
		clear: both;
		content: "";
	}


h1 {
	margin: 0;
	font-family: "League Spartan";
	font-size: 2.7em;
	letter-spacing: .03em;
	color: #333;
}

.subtitle {
	font-size: 1.2em;
	margin-top: .2em;
}

.branding {
	width: calc(100% - 260px);
	float: left;
}

nav {
	display: inline-block;
	float: right;
}

nav ul {
	padding-left: 12px;
	margin: 0 0 8px;
	border-left: 2px solid #333;
}
nav li {
	list-style: none;
	margin: 0;
	padding-bottom: 4px;
	color: #333;
}

nav li + li {
	border-top: 2px dotted #333;
	padding: 4px 0;
}

nav a:link, nav a:visited {
	color: inherit;
	font-size: .8em;
	border: 0;
}



h2,
.meta h3,
[id="support"] h3,
aside,
nav a,
.github,
thead th {
	font-family: "League Spartan", sans-serif;
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: .08em;
	color: #333;
}

.meta h3,
[id="support"] h3 {
	text-transform: uppercase;
}

.meta h3::before,
.meta li:before {
	display: block;
	position: absolute;
	left: 0;
	background: #333;
	content: "";
}


h2 {
	margin-top: .606em;
	margin-bottom: 2.02em;
	font-size: 1.1em;
}

.meta h3 {
	padding: 2.5em 0 1.54em;
	font-size: .722em; /* 13px at large breakpoint */
}

/* Reference labels and code titles */
.reference li {
	color: #666;
}

main > section {
	border-top: 4px solid #333;
	margin-bottom: 4.44em;
}

[id="results"] {
	padding-top: 54px;
}

.test-results {
	padding: 0;
}

.test-results li {
	position: relative;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	
	float: left;
	width: calc(20% - 9.6px);
	height: 308px;
	
	padding-top: 122px;
	
	background-color: #fcfcfc;
	list-style: none;
	text-align: center;
	box-shadow: 0 0 8px hsla(0, 0%, 0%, .15);
	background-repeat: no-repeat;
	background-position: center 60px;
	background-size: 64px auto;
}

.test-results li + li {
	margin-left: 12px;
	margin-top: 0;
}

.test-results li::before {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;

	width: 36px;
	height: 10px;
	
	background-color: #f7f7f5;
	border-radius: 8px;
	box-shadow: inset 0 0 8px hsla(0, 0%, 0%, .15);
	
	content: "";
	
}

.chrome { 
	background-image: url("../images/chrome.png");
}

th.chrome {
	background-image: url("../images/chrome-simplified.svg");
}

body .edge { 
	background-image: url("../images/msedge.svg");
	background-size: 57px auto;
}


.firefox { 
	background-image: url("../images/firefox.png");
}

th.firefox {
	background-image: url("../images/firefox-simplified.svg");
	
}

.ie {
	background-image: url("../images/ie.svg");
}

.safari { 
	background-image: url("../images/safari.png");
}

th.safari {
	background-image: url("../images/safari-simplified.svg");
}


table {
	background-color: #fcfcfc;
	padding: 12px 24px 36px;
	border-top: 4px solid #333;
	width: 100%;
	border-spacing: 0;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 0 12px hsla(0, 0%, 0%, .15);
}

th {
	text-align: left;
	padding-left: 12px;

}

thead th {
	text-transform: uppercase;
	font-size: 13px;
	border-width: 0 0 2px 2px;
	border-image: linear-gradient(to bottom, transparent, transparent 50%,
											#929292 50%, #929292 100%) 2; 
}

thead th:first-of-type {
	border-width: 0 0 2px 0;
}


td {
	border-top: 2px solid #929292;
	
	background-image: linear-gradient(to bottom, #b8b8b8, #b8b8b8 2px, 
	                                             transparent 2px, transparent 4px);
	background-size: 2px 4px, auto;
	background-repeat: repeat-y, no-repeat;
	background-clip: content-box;
	background-position: left, center;

	padding: 8px 0;
	line-height: 2.3;
	font-size: 16px;
	text-indent: 12px;
}

th.chrome,
th.edge,
th.firefox,
th.ie,
th.safari {
	background-size: auto 32px;
	background-repeat: no-repeat;
	background-position: top;
	max-width: 60px;
	height: 44px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

th.edge {
	background-size: auto 31px;
}

th[scope="row"] {
	width: 296px;
	border-top: 2px solid #929292;
}

[title="yes"],
[title="no"],
[title="n/a"],
[title="partial"] {
	max-width: 60px;
	height: 44px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

[title="yes"] {
	background-image: linear-gradient(to bottom, #b8b8b8, #b8b8b8 2px, 
	                                             transparent 2px, transparent 4px), 
					  url(../images/status-icons/yes.svg);
}

[title="no"] {
	background-image: linear-gradient(to bottom, #b8b8b8, #b8b8b8 2px, 
	                                             transparent 2px, transparent 4px), 
					  url(../images/status-icons/no.svg);
}

[title="n/a"] {
	background-image: linear-gradient(to bottom, #b8b8b8, #b8b8b8 2px, 
	                                             transparent 2px, transparent 4px), 
					  url(../images/status-icons/n-a.svg);
}

[title="partial"] {
	background-image: linear-gradient(to bottom, #b8b8b8, #b8b8b8 2px, 
	                                             transparent 2px, transparent 4px), 
					  url(../images/status-icons/partial.svg);
}

.browser,
.platform {
	font-size: .7em;
	line-height: 1;
	margin: 0 0 6px;
}

.result {
	display: inline-block;
	font-weight: 300;
	font-size: 3em;
	line-height: 1;
	border-top: 4px solid;
	padding-top: 20px;
	margin: 20px 0;
	color: #333;
	
	-webkit-order: -1;
	-moz-order: -1;
	-ms-flex-order: -1;
	order: -1;
}

.result.high {
	border-color: #99a83e;
}

.result.medium {
	border-color: #cc983a; 
}

.result.low {
	border-color: #c14d35
}

[id="overview"] {
	border: 0;
}

[id="overview"] > p,
.sponsor  {
	float: left;
	width: 80%;
}

[id="overview"] > p {
	font-size: 1.6em;
	font-weight: 300;
	margin-top: 0;
	padding-right: 24px;
}

.sponsor {
	width: 20%;
	font-size: .8em;
	line-height: 1.8;
	padding-left: 20px
}

.sponsor img {
	margin-bottom: 24px;
}

/* without column-span and some way to break columns, elements clash into each other */
@supports (column-span: all) {
	
	[id="howto"] {
		-webkit-column-count: 3;
		column-count: 3;
		
		-webkit-column-gap: 60px;
		column-gap: 60px;
	}

	[id="howto"] h2 {
		column-span: all;
	}
	
	[id="howto"] p { 
		-webkit-column-break-inside: avoid;
		break-inside: avoid; 
	}
	
	/* stop having blank line at top and bottom of columns */
	[id="howto"] p:first-of-type,
	[id="howto"] p + section h3 {
		margin-top: 0;
	}

	[id="howto"] p:last-of-type {
		margin-bottom: 0;
	}
	
	[id="howto"] p + section {
		break-inside: avoid;
	}

}

[id="links"],
[id="contributors"],
footer {
	float: left;
	width: 33.33%;
	padding: 0 20px;
}

[id="links"] {
	padding: 0 40px 0 0;
}

footer {
	padding: 22px 0 0 32px;
}

.meta h3 {
	position: relative;
	margin: 3em 0 0;
	padding-top: 1.5em;
	border-top: 0;
}

/* sections floated under means double margin, so remove one */
[id="links"] h3,
[id="contributors"] h3,
[id="contributors"] p:first-of-type {
	margin-top: 0;
}

.meta h3::before {
	top: 0;
	width: 2.5em;
	height: .5em;
}

/* Scoped to avoid tests */
.meta ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.meta li {
	position: relative;
}

.meta li:before {
	top: .5em;
	left: -12px;
	margin-top: 2px;
	width: 4px;
	height: 4px;
}

.reference li {
	white-space: nowrap;
	font-size: .611em; /* 11px */
	line-height: 2;
}

.reference a {
	white-space: normal;
}

/* Unset the styles on text next to links in references.
   Doing it this way to reduce excess markup. */
.reference a {
	font: 400 1.636em "Work Sans", sans-serif;
	text-transform: none;
	letter-spacing: 0;
}

[id="support"] > section {
	position: relative;
}

[id="support"] > section h3::before {
	position: absolute;
	left: -80px;
	width: 64px;
	height: 100%;
	margin-top: -4px;
	content: "";
	background-repeat: no-repeat;
	background-origin: content-box;
}

#sections h3::before {
	background-image: url("../images/categories/sections.svg");
}

#text h3::before {
	background-image: url("../images/categories/text.svg");
}

#graphics h3::before {
	background-image: url("../images/categories/graphics.svg");
}

#controls h3::before {
	background-image: url("../images/categories/controls.svg");
}

#properties h3::before {
	background-image: url("../images/categories/properties.svg");
	margin-top: 0;
}

[id="support"] h3 {
	margin: 0;
	padding: 2.01em 0 1.6em;
	font-size: 1.11em; /* 20px at large breakpoint */
}

.licence {
	display: block;
	background: url("../images/logos/creative-commons.svg") no-repeat;
	padding-top: 40px;
}

a.github {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-size: .7em;
	line-height: 1;
	padding: 16px 10px 14px 42px;
	margin-top: 32px;
	border: 0;
	border-radius: 4px;
	background: url("../images/logos/github.svg") no-repeat 9px center #333;
}

a.github:active {
	opacity: .5;
}

/*	SMALL BREAKPOINT
 *	--------------------------------------------- */

@media (max-width: 30em) {

	.meta li {
		padding-left: 12px;
	}

	.meta li:before {
		left: 0;
	}

}

/*	MEDIUM BREAKPOINT
 *	--------------------------------------------- */

@media (min-width: 50em) {

	html {
		border-width: 1.25em;
	}

	body {
		margin: 3.5em auto;
	}

	.meta:after {
		display: table;
		clear: both;
		content: "";
	}

	.criteria,
	.reference {
		position: relative;
		float: left;
		width: 50%;
	}

	.criteria {
		padding-right: 1em;
	}

	.reference {
		padding-left: 1em;
	}

}

/*	LARGE BREAKPOINT
 *	--------------------------------------------- */

@media (min-width: 75em) {

	/* @TODO: Test viewport-based type on a giant monitor to see where this breaks down */
	body {
		font-size: 112.5%;
	}

}