/* FONT IMPORT */

@font-face {
	font-family: "League Spartan";
	src: url("../fonts/leaguespartan-bold.woff2") format("woff2"),
	     url("../fonts/leaguespartan-bold.woff") format("woff"),
	     url("../fonts/leaguespartan-bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: "Work Sans";
	src: url("../fonts/worksans-regular.woff2") format("woff2"),
	     url("../fonts/worksans-regular.woff") format("woff"),
		 url("../fonts/worksans-regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Work Sans";
	src: url("../fonts/worksans-light.woff2") format("woff2"),
	     url("../fonts/worksans-light.woff") format("woff"),
		 url("../fonts/worksans-light.ttf") format("truetype");
	font-weight: 300;
}


/* CORE STYLES */

* {
	box-sizing: border-box;
	margin: 0
}

body {
	width: 90%;
	max-width: 62em;
	margin: 1em auto;

	font: 400 1em/1.4 "Work Sans", sans-serif;

	background: #f7f7f5;
	color: #555;
}

p {
	margin: 0 0 1em;
}

a {
	border-bottom: 1px solid rgba(42, 122, 130, .5);
	text-decoration: none;
	color: #2b7a82;
}

li + li {
	margin-top: .5em;
}

a:hover {
	border-bottom: 2px solid;
	color: #f16529;
}

a:active,
::selection {
	background: #333;
	color: #fff;
}

h2 {
	margin: .606em 0 2.02em;
	font-size: 1.1em;
}

@media (min-width: 50em) {

	html {
		border: 1.25em solid #fff;
	}
	
	body {
		margin: 3.5em auto;
	}

}


/* COMMON STYLES / HACKS */

main > section {
	border-top: 4px solid #333;
	margin-bottom: 4.44em;
}

body > header::after,
[id="overview"]::after,
aside::after,
[id="results"]::after {
	display: table;
	clear: both;
	content: "";
}

nav a::after,
aside a::after,
.licence a::after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	content: "";
}

h1,
h2,
aside,
thead,
section > h3,
nav a,
.key-label,
.github{
	font-family: "League Spartan", sans-serif;
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: .08em;
	color: #333;
}

section > h3 {
	text-transform: uppercase;
}

.meta {
	margin-bottom: 2.17em;
}

.meta h3::before,
.meta li:before {
	display: block;
	position: absolute;
	left: 0;
	background: #333;
	content: "";
}

.meta h3 {
	padding: 2.5em 0 1.54em;
	font-size: .722em; /* 13px at large breakpoint */
	position: relative;
	padding-top: 1.5em;
	border-top: 0;
}

.meta h3::before {
	top: 0;
	width: 2.5em;
	height: .5em;
}

.meta ul {
	padding: 0;
	list-style: none;
}

.meta li {
	position: relative;
}

.meta li:before {
	top: .5em;
	left: -12px;
	margin-top: 2px;
	width: 4px;
	height: 4px;
}


/* PAGE HEADER */

body > header {
	background: url("../images/logos/html5-a11y.svg") no-repeat;
}

h1 {
	font-size: 2.65em;
	letter-spacing: .03em;
}

.subtitle {
	font-size: 1.15em;
	margin: 1.25em 0;
}

/* Navigation */

nav ul {
	padding: 0;
}

nav li {
	position: relative;
	margin: 0;
	padding-bottom: 4px;

	list-style: none;
	color: #333;
}

nav li + li {
	border-top: 2px dotted #333;
	padding: 4px 0;
}

nav a {
	font-size: 13px;
	border: 0;
}

@media (max-width: 49.99em) {
	
	/* both temp until get real size or updated logo */
	body > header {
		background-size: 47px auto;
	}
	
	h1 {
		margin-left:  67px;
		font-size: 2.29em;
	}
	
	nav a { 
		margin-left: 12px;
	}

}

@media (min-width: 50em) {
	
	body > header {
		padding-left: 130px;
	}
	
	.branding {
		width: calc(100% - 260px);
		float: left;
	}
	
	.subtitle {
		margin-top: .2em;
	}

	nav {
		float: right;
	}
	
	nav ul {
		margin: 0 0 8px;
		border-left: 2px solid #333;
		padding-left: 12px;
	}

}


/* RESULTS SECTION */

[id="results"] {
	padding-top: 54px;
}

.test-results {
	padding: 0;
}

.test-results li {
	position: relative;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	
	height: 308px;	
	padding-top: 122px;
	
	list-style: none;
	text-align: center;
	
	background-repeat: no-repeat;
	background-position: center 60px;
	background-size: 64px auto;
	background-color: #fcfcfc;
	box-shadow: 0 0 8px hsla(0, 0%, 0%, .15);
}

.test-results li::before {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;

	width: 36px;
	height: 10px;
	
	background-color: #f7f7f7;
	border-radius: 8px;
	box-shadow: inset 0 0 8px hsla(0, 0%, 0%, .15);
	
	content: "";
}

.browser,
.platform {
	font-size: .75em;
	line-height: 1.5;
}

.result {
	display: inline-block;
	
	-webkit-order: -1;
	-moz-order: -1;
	-ms-flex-order: -1;
	order: -1;
	
	margin: 20px 0;
	border-top: 4px solid;
	padding-top: 20px;

	font-weight: 300;
	font-size: 3em;
	line-height: 1;
	color: #333;
}

.result.high {
	border-color: #99a83e;
}

.result.medium {
	border-color: #cc983a; 
}

.result.low {
	border-color: #c14d35
}

@media (min-width: 50em) {
	
	.test-results li {
		float: left;
		width: calc(20% - 9.6px);
	}
	
	.test-results li + li {
		margin: 0 0 0 12px;
	}
}


/* BROWSER ICONS */

.chrome { 
	background-image: url("../images/chrome.png");
}

th.chrome {
	background-image: url("../images/chrome-simplified.svg");
}

body .edge { 
	background-image: url("../images/msedge.svg");
	background-size: 57px auto;
}

.firefox { 
	background-image: url("../images/firefox.png");
}

th.firefox {
	background-image: url("../images/firefox-simplified.svg");
	
}

.ie {
	background-image: url("../images/ie.svg");
}

.safari { 
	background-image: url("../images/safari.png");
}

th.safari {
	background-image: url("../images/safari-simplified.svg");
}


/* OVERVIEW SECTION */

[id="overview"] {
	border: 0;
}

[id="overview"] > p {
	font-size: 1.55em;
	font-weight: 300;
}

aside {
	position: relative;
}

.sponsor {
	font-size: .7em;
	line-height: 1.95;
	max-width: 350px;
}

.sponsor img {
	margin-right: 20px;
}

@media (max-width: 49.99em) {
	.sponsor img {
		float: left;
	}
}	

@media (min-width: 50em) {
	
	[id="overview"] > p,
	.sponsor  {
		float: left;
		width: 80%;
	}

	[id="overview"] > p {
		padding-right: 24px;
	}
	
	.sponsor {
		width: 20%;
		padding-left: 20px;
	}
	
	.sponsor img {
		margin-bottom: 24px;
	}
}


/* FEATURE SUPPORT */

[id="support"] h2 {
	margin-bottom: 1.11em;
}

/* Key */

.key {
	margin-bottom: 24px;
}

.key-label {
	font-size: .7em;
}

.key ul {
	display: inline;
	vertical-align: middle;
	padding: 0;
}

.key li {
	display: inline-block;
	padding-left: 28px;
	background-position: left center;
}

.key .yes {
	padding-left: 31px;
}

@media (max-width: 49.99em) {

	.key li {
		width: 49%;
	}
	
	.key li + li {
		margin-top: 1em;
	}

}

@media (min-width: 50em) {

	.key-label {
		display: inline;
	}
	
	.key li {
		margin: 0 0 0 28px;
	}

}

[id="support"] > section {
	position: relative;
}

[id="support"] h3 {
	padding: 2.01em 0 1.6em;
	font-size: 1.11em; /* 20px at large breakpoint */
	padding-left: 80px;
	min-height: 80px;
}

[id="support"] > section h3::before {
	position: absolute;
	left: 0;
	z-index: -1;

	width: 64px;
	height: 100%;

	margin-top: -4px;

	content: "";
	background: no-repeat;
}

#sections h3::before {
	background-image: url("../images/categories/sections.svg");
}

#text h3::before {
	background-image: url("../images/categories/text.svg");
}

#graphics h3::before {
	background-image: url("../images/categories/graphics.svg");
}

#controls h3::before {
	background-image: url("../images/categories/controls.svg");
}

#properties h3::before {
	background-image: url("../images/categories/properties.svg");
	margin-top: 0;
}

@media (max-width: 74.99em) {
	#sections h3,
	#text h3,
	#graphics h3 {
		margin-bottom: 20px;
	}
}

@media (min-width: 86em) {
	
	[id="support"] h3 {
		padding-left: 0;
	}
	
	[id="support"] > section h3::before {
		left: -80px;

	}
}

/* Support tables */

table {
	width: 100%;
	border-top: 4px solid #333;
	padding: 8px;

	background-color: #fcfcfc;
	border-spacing: 0;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 0 12px hsla(0, 0%, 0%, .15);
}

th {
	text-align: left;
}

thead th {
	border-width: 0 0 2px 2px;
	border-style: solid;
	border-image: linear-gradient(to bottom, transparent, transparent 35%,
										   #929292 35%, #929292 100%) 2;
											
	text-transform: uppercase;
	font-size: 13px;
}

thead th:first-of-type {
	border-left-width: 0;
}

td {
	display: none;

	border-top: 2px solid #929292;
	padding: 8px 0;
	
	background: repeat-y content-box left, 
	            no-repeat center;
	background-size: 2px 4px, 16px auto;
	background-image: linear-gradient(to bottom, #b8b8b8, #b8b8b8 2px, 
	                                             transparent 2px, transparent 4px);
	
	font-size: .9em;
	line-height: 38px;
	font-weight: 300;
	text-indent: 12px;	
}

.expand td {
	display: table-cell;
}

th ~ td {
	display: table-cell;
	font-weight: 400;
}

th.chrome,
th.edge,
th.firefox,
th.ie,
th.safari {
	max-width: 60px;
	height: 44px;

	background-size: auto 32px;
	background-repeat: no-repeat;
	background-position: top;
	
	overflow: hidden;
	white-space: nowrap;
	text-indent: 200%;
}

th.edge {
	background-size: auto 31px;
}

th[scope="row"] {
	width: 342px;
	border-top: 2px solid #929292;
	padding-top: 10px;

	vertical-align: top;
	font: 400 1.15em/1.4 "Work Sans", sans-serif;
}

th[scope="row"] code {
	font-family: inherit;
}

.expand th,
.expand th ~ td {
	color: #000;
	border-top-color: currentColor;
}

th button {
	float: left;

	width: 22px;
	height: 32px;
	margin-right: 12px;
	border: 0;
	
	background: url("../images/ui-icons/toggle-open.svg") no-repeat center transparent;

	text-indent: 200%;
	overflow: hidden;

	line-height: 1.4;
	cursor: pointer;
}

th button[aria-pressed="true"] {
	background-image: url("../images/ui-icons/toggle-close.svg")
}

[title="yes"],
[title="no"],
[title="n/a"],
[title="partial"] {
	max-width: 60px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

[title="yes"] {
	background-image: linear-gradient(to bottom, #b8b8b8, #b8b8b8 2px, 
	                                             transparent 2px, transparent 4px), 
					   url(../images/status-icons/yes.svg);
}

.yes {
	background: url(../images/status-icons/yes.svg) no-repeat;
}

[title="no"] {
	background-image: linear-gradient(to bottom, #b8b8b8, #b8b8b8 2px, 
	                                             transparent 2px, transparent 4px), 
					   url(../images/status-icons/no.svg);
}

.no {
	background: url(../images/status-icons/no.svg) no-repeat;
}

[title="n/a"] {
	background-image: linear-gradient(to bottom, #b8b8b8, #b8b8b8 2px, 
	                                             transparent 2px, transparent 4px), 
					  url(../images/status-icons/n-a.svg);
}

.n-a {
	background: url(../images/status-icons/n-a.svg) no-repeat;
}

[title="partial"] {
	background-image: linear-gradient(to bottom, #b8b8b8, #b8b8b8 2px, 
	                                             transparent 2px, transparent 4px), 
					  url(../images/status-icons/partial.svg);
}

.partial {
	background: url(../images/status-icons/partial.svg) no-repeat;
}


@media (max-width: 39.99em) {
	
	table {
		table-layout:fixed;
		position: relative;
		left: -16px;
		width: calc(100% + 32px);
	}
	
	thead th:first-of-type {
		width: 110px;
	}
		
	thead th:nth-of-type(2),
	tbody th + td:first-of-type {
		display: none;
	}
	
	th[scope="row"] {
		display: inline;
		padding: 0;
		border: 0;
		position: relative;
		top: 16px;
		font-size: 1em;
	}	
	
	th[scope="row"] button {
		margin: 12px 6px 0 0;
	}
	
	th.chrome,
	th.edge,
	th.firefox,
	th.ie,
	th.safari {
		background-size: auto 26px;
		height: 34px;
		width: 24px;
	}
	
	tbody tr {
		background: linear-gradient(#929292, #929292 1px, transparent 1px), no-repeat;
	}
	
	tr:not(.expand) + tr.expand {
		background: linear-gradient(black, black 1px, transparent 1px), no-repeat;
	}
	
	td {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 100px;
		border: 0;
		text-indent: 0;
	}
	
	tr > td:first-child {
		background: 0;
	}
	
}

@media (min-width: 40em) {

	table {
		padding: 12px 24px 36px;
	}
	
	thead th:first-of-type {
		padding-left: 44px;
	}
	
	th {
		padding-left: 12px;
	}
	
	th ~ td {
		background-size: 2px 4px, auto;
	}

}


/* HOW TO SECTION */

@media (max-width: 49.99em) {
	
	[id="howto"] .meta {
		margin-top: 28px;
	}
}

@media (min-width: 50em) {

	/* without column-span and some way to break columns, elements clash into each other */
	@supports (column-span: all) {
		
		[id="howto"] {
			-webkit-column-count: 3;
			column-count: 3;
			
			-webkit-column-gap: 60px;
			column-gap: 60px;
		}

		[id="howto"] h2 {
			column-span: all;
		}
		
		[id="howto"] p { 
			-webkit-column-break-inside: avoid;
			break-inside: avoid; 
		}

		[id="howto"] p:last-of-type {
			margin-bottom: 0;
		}
		
		[id="howto"] p + section {
			break-inside: avoid;
		}

	}
}


/* NOTES, RESOURCES, FOOTER */

[id="links"] {
	padding: 0 40px 0 0;
}

.licence {
	position: relative;
	display: block;
	padding-top: 40px;
	background: url("../images/logos/creative-commons.svg") no-repeat;

}

a.github {
	display: inline-block;
	margin-top: 32px;
	border: 0;
	padding: 16px 10px 14px 42px;

	text-transform: uppercase;
	font-size: .7em;
	line-height: 1;
	
	border-radius: 4px;
	background: url("../images/logos/github.svg") no-repeat 9px center #333;
	color: #fff;
}

a.github:active {
	opacity: .5;
}

@media (min-width: 50em) {

	[id="links"],
	[id="contributors"],
	footer {
		float: left;
		width: 33.33%;
		padding: 0 20px;
	}
	
	footer {
		padding: 22px 0 0 32px;
	}

}


/*	SMALL BREAKPOINT
 *	--------------------------------------------- */

@media (max-width: 29.99em) {

	.meta li {
		padding-left: 12px;
	}

	.meta li:before {
		left: 0;
	}

}

/*	MEDIUM BREAKPOINT
 *	--------------------------------------------- */

@media (min-width: 50em) {

	.meta:after {
		display: table;
		clear: both;
		content: "";
	}

}

/*	LARGE BREAKPOINT
 *	--------------------------------------------- */

@media (min-width: 75em) {

	/* @TODO: Test viewport-based type on a giant monitor to see where this breaks down */
	body {
		font-size: 112.5%;
	}

}