@font-face {
	font-family: "League Spartan";
	src: url("../fonts/leaguespartan-bold.woff2") format("woff2"),
	     url("../fonts/leaguespartan-bold.woff") format("woff"),
	     url("../fonts/leaguespartan-bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: "Work Sans";
	src: url("../fonts/worksans-regular.woff2") format("woff2"),
	     url("../fonts/worksans-regular.woff") format("woff"),
		 url("../fonts/worksans-regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Work Sans";
	src: url("../fonts/worksans-light.woff2") format("woff2"),
	     url("../fonts/worksans-light.woff") format("woff"),
		 url("../fonts/worksans-light.ttf") format("truetype");
	font-weight: 300;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	border: .75em solid #fff;
}

body {
	margin: 1.5em auto;
	width: 90%;
	max-width: 54em;
	font: 400 105%/1.4 "Work Sans", sans-serif;
	background: #f7f7f5;
	color: #333;
}

/* Nicer link underlines */
a:link, a:visited {
	border-bottom: 1px solid rgba(42, 122, 130, .5);
	text-decoration: none;
	color: #2b7a82;
}

a:hover {
	border-bottom-color: currentColor;
	color: #333;
}

a:active {
	background: #333;
	color: #fff;
}

li + li {
	margin-top: .5em;
}


h1 {
	margin: 0;
	font: 300 1.75em/1 "Work Sans", sans-serif;
}

h2,
.meta h3,
.test-title {
	font-family: "League Spartan", sans-serif;
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: .08em;
}

.meta h3,
.test-title {
	text-transform: uppercase;
}

.meta h3::before,
.meta li:before,
.test-title:before {
	display: block;
	position: absolute;
	left: 0;
	background: #333;
	content: "";
}


h2 {
	margin-top: .6em;
	margin-bottom: 1.8em;
	font-size: 1.1em;
}

.meta h3 {
	padding: 2.5em 0 1em; /* Needs to be padding so the test bg doesn't bleed through */
	font-size: .722em; /* 13px at large breakpoint */
}

/* Reference labels and code titles */
.reference li {
	color: #666;
}

main > section {
	border-top: 4px solid #333;
	margin-bottom: 4em;
}

[id="overview"] {
	border: 0;
}

/* without column-span and some way to break columns, elements clash into each other */
@supports (column-span: all) {
	
	[id="howto"] {
		-webkit-column-count: 3;
		column-count: 3;
		
		-webkit-column-gap: 48px;
		column-gap: 48px;
	}

	[id="howto"] h2 {
		column-span: all;
	}
	
	[id="howto"] p { 
		-webkit-column-break-inside: avoid;
		break-inside: avoid; 
	}
	
	/* stop having blank line at top and bottom of columns */
	[id="howto"] p:first-of-type,
	[id="howto"] p + section h3 {
		margin-top: 0;
	}

	[id="howto"] p:last-of-type {
		margin-bottom: 0;
	}

}

[id="links"],
[id="contributors"],
footer {
	float: left;
	width: 33.33%;
	padding: 0 16px;
}

[id="links"] {
	padding: 0 32px 0 0;
}

footer {
	padding: 0 0 0 32px;
}

.meta h3 {
	position: relative;
	margin: 3em 0 0;
	padding-top: 1.5em;
	border-top: 0;
}

/* sections floated under means double margin, so remove one */
[id="links"] h3,
[id="contributors"] h3 {
	margin-top: 0;
}

.meta h3::before {
	top: 0;
	width: 2.5em;
	height: .5em;
}

/* Scoped to avoid tests */
.meta ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.meta li {
	position: relative;
}

.meta li:before {
	top: .5em;
	left: -12px;
	margin-top: 2px;
	width: 4px;
	height: 4px;
}

.reference li {
	white-space: nowrap;
	font-size: .611em; /* 11px */
	line-height: 2;
}

.reference a {
	white-space: normal;
}

/* Unset the styles on text next to links in references.
   Doing it this way to reduce excess markup. */
.reference a {
	font: 400 1.636em "Work Sans", sans-serif;
	text-transform: none;
	letter-spacing: 0;
}

/*	TESTS
 *	20px measurements in here are to ensure white space around
 *  test content and code snippets.
 *	--------------------------------------------- */


.test-title {
	position: relative;
	margin: 0;
	padding: 2em 0 1.333em 1.5em;
	font-size: 1.111em; /* 20px at large breakpoint */
}


/*	SMALL BREAKPOINT
 *	--------------------------------------------- */

@media (max-width: 30em) {

	.meta li {
		padding-left: 12px;
	}

	.meta li:before {
		left: 0;
	}

}

/*	MEDIUM BREAKPOINT
 *	--------------------------------------------- */

@media (min-width: 50em) {

	html {
		border-width: 1.25em;
	}

	body {
		margin: 3.5em auto;
	}

	.meta:after {
		display: table;
		clear: both;
		content: "";
	}

	.criteria,
	.reference {
		position: relative;
		float: left;
		width: 50%;
	}

	.criteria {
		padding-right: 1em;
	}

	.reference {
		padding-left: 1em;
	}

}

/*	LARGE BREAKPOINT
 *	--------------------------------------------- */

@media (min-width: 75em) {

	/* @TODO: Test viewport-based type on a giant monitor to see where this breaks down */
	body {
		font-size: 112.5%;
	}

}